*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    align-items: center;
    margin: 5px;
    width: 250px;
    height: 500px;
    border: 2px solid blue;
}
h2{
    text-align: center;
    color: white;
    background-color: blue;
}

@media (max-width: 650px) {
    .container{
      flex-flow: column;
    }
}

@media (max-width: 650px) {
    .box{
      flex-flow: column;
      width: auto;
    
    }
}

